<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="Homework" value="~/homework/" />
  </appSettings>
  <connectionStrings>
    <!-- 
      请将下面192.168.1.7更改为你的数据库服务器名称或IP地址，这段中的learnsite更改为你创建的数据库名称和Zhou!12345更改为你的数据库密码：
     httpRuntime maxRequestLength - 控制ASP.NET层面的请求大小（单位：KB）
     requestLimits maxAllowedContentLength - 控制IIS层面的请求大小（单位：bytes）
     -->
      <remove name="SqlServer" />
      <add name="SqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=COMPUTER\SQLEXPRESS;Initial Catalog=learnsite;uid=sa;pwd=123456;" />
  </connectionStrings>
    <system.web>
        <compilation debug="false" />
        <authentication mode="Windows" />
        <sessionState mode="InProc" timeout="720" />
        <httpRuntime maxRequestLength="2097150" executionTimeout="7200"  />
        <machineKey validation="3DES" />
    </system.web>
    <system.webServer>
        <!-- 增加请求限制2147483648 -->
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="2147483648" />
                <!-- 2000MB -->
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>