<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Pf.master.cs" Inherits="Student_Profile_Pf" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta charset="UTF-8" />
    <title>信息技术学习网站</title>   
    <link href="../App_Themes/Student/StyleSheet.css" rel="stylesheet" type="text/css" />    
    <link href="../js/tinybox.css" rel="stylesheet" type="text/css" />
    <script src="../js/tinybox.js" type="text/javascript"></script>
        <script type="text/javascript">
            function showChat() {
                var urlat = "../student/chat.aspx";
                TINY.box.show({ iframe: urlat, boxid: 'frameless', width: 616, height: 515, fixed: false, maskopacity: 100, close: true })
            }   
    </script>
    
    <link href="https://cdn.bootcdn.net/ajax/libs/tailwindcss/2.2.19/utilities.min.css" rel="stylesheet">
</head>
<body>
    <form id="form1" runat="server">

      <div class="stu">
            <div  class="path"> 
            &nbsp;
            </div>
            <div style="font-family: Arial;">
            <asp:ContentPlaceHolder ID="Cstu" runat="server">
            </asp:ContentPlaceHolder>
</div>
        <br />
        </div>
    </form>
		<div class="chatimg"  onclick="showChat()"  title="小组讨论" ></div>
</body>
</html>
